out_root_suffix+=mnist

## 256,512,640
### 1,3,5
#### 100_960,1000_9600,12_1000
img_root_dir=/data/mnist_mot/%GP%_%P%_%N%_var/Images
img_paths=lists/mnist_%GP%_%P%_%N%_var.txt
gt_pkl=mnist_%GP%_%P%_%N%_var.pkl
gt_csv_name=annotations.csv
##

## test,train
img_paths_suffix=%N%
##

labels_path=mnist_mot.txt

%import% eval_det.cfg

