root_dir=/data/GRAM
img_dir=Images
list_file_name=lists/idot.txt
json_desc=idot

data_type=annotations
class_names_path=lists/classes/vehicle.txt

## csv
class_names_path=lists/classes/vehicle_people.txt
##

%import% mot_csv_to_xml_coco.cfg

allow_empty=1


