root_dir=/data/DETRAC
img_dir=Images
list_file_name=lists/detrac.txt
json_desc=detrac

## test,train,non_empty
list_file_suffix=%N%
json_desc=detrac-%N%
##

%import% mot_csv_to_xml_coco.cfg

data_type=annotations
class_names_path=lists/classes/vehicle.txt
## ign
allow_ignored=1
class_names_path=lists/classes/vehicle_ignored.txt
##
ignore_invalid=0
ignore_invalid_class=0
sample=0
allow_empty=1



