root_dir=/data/ILSVRC2015/Data
xml_root_dir=/data/ILSVRC2015/Annotations

class_names_path=lists/classes/imagenet_vid.txt
map_classes=1
auto_class_cols=0

img_ext=JPEG
add_ext_to_image=1
ignore_invalid_label=0
add_empty_images=0

## vid_det,det,det_val,det_all,vid_det_all
ignore_invalid_label=1
ignore_empty_images=1
	### del
	delete_empty_images=1
		#### xml
		delete_empty_xml=1
## add
add_empty_images=1
	### 0,1
	add_empty_images=%N%


## vid
seq_paths=lists/imagenet_vid_train.txt
output_json=imagenet_vid
load_samples_root=/data/ILSVRC2015/Data/imagenet_vid
## vid_val
seq_paths=lists/imagenet_vid_val.txt
output_json=imagenet_vid_val
load_samples_root=/data/ILSVRC2015/Data/imagenet_vid_val
## vid_det
seq_paths=lists/imagenet_vid_det_train.txt
output_json=imagenet_vid_det
load_samples_root=/data/ILSVRC2015/Data/imagenet_vid_det
## vid_det_all
seq_paths=lists/imagenet_vid_det_all.txt
output_json=imagenet_vid_det_all
load_samples_root=/data/ILSVRC2015/Data/imagenet_vid_det_all

## vid_det,vid_det_all
	### sampled_eq,ratio_1_10_random
	load_samples=1
	load_samples_suffix+=%N%

## det
seq_paths=lists/imagenet_det_train.txt
output_json=imagenet_det
load_samples_root=/data/ILSVRC2015/Data/imagenet_de
## det_val
seq_paths=lists/imagenet_det_val.txt
output_json=imagenet_det_val
load_samples_root=/data/ILSVRC2015/Data/imagenet_det_val
## det_all
seq_paths=lists/imagenet_det_all.txt
output_json=imagenet_det_all
load_samples_root=/data/ILSVRC2015/Data/imagenet_det_all
##

## 4_per_seq_random,8_per_seq_random,16_per_seq_random
load_samples=1
load_samples_suffix+=%N%
##

%import% xml_to_coco.cfg
